@media screen and (max-width: 576px) {

    /* Header Navbar Section CSS Starts here */
    .header-navbar-container{
        width: 85%;
    }
    .navbar-menu-container{
        display: none;
    }
    .bars-icon{
        color: #FFFFFF;
        display: inline;
        cursor: pointer;
    }


    /* Header banner css starts here */
    .header-banner-container {
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    .header-banner-left-side-contents {
        width: 100%;
        margin-bottom: 40px;
    }
    .header-banner-left-side-contents h1 {
        font-size: 2rem;
        padding-right: 90px;
    }
    .header-banner-left-side-contents span {
        font-size: 4rem;
    }
    .header-left-side-btn{
        display: flex;
        justify-content: space-between;
    }
    .fill-color-btn {
        font-size: 0.8rem;
        padding: 14px 38px;
    }
    
    .stroke-color-btn {
        font-size: 0.8rem;
        padding: 14px 38px;;
    }
    .header-banner-right-side-contents {
        width: 100%;
        position: relative;
    }
    .header-banner-right-img {
        width: 100%;
        display: block;
    }
    .first-box {
        font-size: 1.7rem;
        position: absolute;
        top: 40px;
        right: 20px;
    }
    .first-box p {
        color: rgba(255, 255, 255, 0.65);
        font-size: 0.5rem;
        font-weight: 400;
    }
    .second-box {
        padding: 13px 18px;
        position: absolute;
        bottom: 250px;
        left: 10px;
    }
    
}