/* Universal Class */
* {
    margin: 0;
    padding: 0;
}


/* Font CSS Styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}


/* Body & Header CSS Styles */
Body {
    background-color: black;
}

header {
    background: linear-gradient(rgb(15, 14, 14), rgba(119, 119, 119, 0.295), rgb(3, 3, 3));
}



/* Header Navbar Section CSS Starts here */
.header-navbar-container {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.navbar-title {
    font-size: 2rem;
    font-weight: 800;
    color: #E6533C;
}

.navbar-menu-container {
    display: flex;
    gap: 45px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.105);
    border-radius: 35px;
    padding: 3px;
}

.navbar-button {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.navbar-menu {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.bars-icon{
    color: #FFFFFF;
    display: none;
}

.about {
    padding-right: 20px;
}


/* Header banner css starts here */
.header-banner-container {
    width: 75%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header-banner-left-side-contents {
    width: 47%;
}

.header-banner-left-side-contents h1 {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 25px;
}

.header-banner-left-side-contents p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 25px;
}

.header-banner-left-side-contents span {
    color: #FFFFFF;
    font-size: 7.8rem;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}

.fill-color-btn {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E6533C;
    padding: 14px 44px;
    border: none;
    border-radius: 42px;
    margin-right: 10px;
    cursor: pointer;
}

.stroke-color-btn {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    padding: 14px 44px;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    cursor: pointer;
}

.header-banner-right-side-contents {
    width: 45%;
    position: relative;
}

.header-banner-right-img {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.first-box {
    color: #FFFFFF;
    font-size: 2.3rem;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: fit-content;
    letter-spacing: 1px;
    position: absolute;
    top: 120px;
    right: -20px;
    backdrop-filter: blur(20px);
}

.first-box p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.7rem;
    font-weight: 400;
}

.second-box {
    color: rgba(250, 250, 249, 1);
    font-size: 1.5rem;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 50px;
    left: -20px;
    backdrop-filter: blur(20px);
}

.second-box p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
}

.box-shapes {
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid #FFFFFF;
    border-bottom: 6px solid transparent;
    position: absolute;
    left: 3px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #E6533C;
}



/* Habit section css starts here */
.habit-section-container{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.habit-section-texts{
    padding: 0px 180px;
    margin-bottom: 55px;
}
.habit-section-texts h1{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 13px;
}
.habit-section-texts p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

.four-things-container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.four-things-content img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    display: block;
}
.four-things-content h5{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}
.four-things-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
    padding: 0px 20px;
    line-height: 17px;
}



/* Run section css starts here */
.run-section-container{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #222222;
    border: none;
    border-radius: 18px;
    margin-bottom: 100px;
}
.run-section-texts{
    width: 40%;
    padding: 40px 50px;
}
.run-section-texts h1{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.run-section-texts p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 34px;
    line-height: 22px;
}
.run-section-texts button{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E6533C;
    padding: 14px 65px;
    border: none;
    border-radius: 42px;
    cursor: pointer;
}




/* Image Container */
.run-section-img{
    width: 366px;
    height: 312px;
    padding: 30px;
    overflow: hidden;
}

/* Image */
.run-section-img img{
    width: 366px;
    height: 312px;
    object-fit: cover;
    border-radius: 18px;
    transform: scale(1);
}




/* BMI section css starts here */
.bmi-section-container{
    margin-bottom: 85px;
}
.bmi-section-head{
    width: 45%;
    margin: 0 auto;
}
.bmi-section-head h1{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 13px;
}
.bmi-section-head p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 85px;
    line-height: 22px;
}
.bmi-content-parent{
    background-color: #222222;
}
.bmi-section-content{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.bmi-left-side-content{
    width: 35%;
}
.bmi-left-side-content h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 45px;
}
th{
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
    padding: 13px 20px;
}
td{
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    padding: 10px 20px;
}
table{
    border-collapse: collapse;
}
.bmi-right-side-content{
    width: 55%;
}
.bmi-right-side-content h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.bmi-right-side-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 33px;
    line-height: 22px;
}
.form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 29px;
}
.form-container input{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.6);
}
::placeholder{
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.5px;
    font-size: 0.86rem;
}
.gender-selection{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    cursor: pointer;
}
.activity-factor-selection{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    grid-column: span 2;
    font-size: 0.9rem;
    cursor: pointer;
}
option {
    background-color: rgb(49, 49, 49);
}
.calculate-btn{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E6533C;
    padding: 13px 62px;
    border: none;
    border-radius: 42px;
    cursor: pointer;
}