/* Universal Class */
* {
    margin: 0;
    padding: 0;
}


/* Font Styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}


/* Header Styles */
header {
    
    background: linear-gradient(to top, rgba(119, 119, 119, 0), rgba(17, 17, 17, 1));
    background-color: black;
}

/* Header Navbar Section Styles */
.header-navbar-section {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.navbar-title {
    font-size: 2rem;
    font-weight: 800;
    color: #E6533C;
}

.navbar-menu-section {
    display: flex;
    gap: 45px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    padding: 3px;
}

.navbar-button {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
}

.navbar-menu {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.about{
    padding-right: 20px;
}

ul {
    list-style-type: none;
}



/* Header Main Content Section Styles */
.header-main-content{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 70px;
}

.header-main-title{
    font-size: 4rem;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 120%;
}

.shape-text{
    font-size: 8rem;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Miama', sans-serif;
}

.header-main-description{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0px;
}

.fill-color-btn{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E6533C;
    padding: 14px 41px;
    border: none;
    border-radius: 42px;
}

.stroke-color-btn{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: black;
    padding: 14px 41px;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    margin-left: 12px;
}